.App {
  
}

.blob-1 {
    border-radius: 17% 83% 56% 44% / 22% 65% 35% 78% ;
    margin-left: 100%;
    overflow: hidden;
    margin-bottom: 50%;
}

.blob-2 {
    border-radius: 32% 68% 70% 30% / 83% 95% 14% 17%;
    margin-right: 100%;
    margin-top: 50%;
    overflow: hidden;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}